// ===============================================
// BODY
// ===============================================
body {
    background-image: url("../img/bg.png");
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //overflow-y: scroll;
    font-size: 100%;
}
// ===============================================
