// ===============================================
// SIGN-IN
// ===============================================
.sign-in {
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: auto 370px auto;
    grid-row-gap: 2.375rem;
    justify-items: center;
    &__logo{
        text-align: center;
        margin-top: .9375rem;
    }
    &__card {
        background-color: $sign-in__card__bg-color;
        box-shadow: $sign-in__card__box-shadow;
        border-radius: 4px;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
            &__headline {
                padding: 0;
                height: 6.4375rem;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $sign-in__card__headline-color;
                font-family: $font-family-secondary;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 2.5rem;
        }
    }
}
.sign-in__card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12.5rem;
        &__form-group {
            position: relative;
            &:nth-child(1) .sign-in__card__form__form-group__input {
                margin-bottom: .625rem;
            }
            &:nth-child(2) .sign-in__card__form__form-group__input {
                margin-bottom: 1.25rem;
            }
        }
        &__form-group__title {
            position: absolute;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
            color: $sign-in__card__form__form-group__title-color;
            height: 2.75rem;
            font-family: $font-family-primary;
        }
        &__form-group__input {
            cursor: pointer;
            width: 18.75rem;
            height: 2.75rem;
            padding-left: 6.5rem;
            border: 1px solid $sign-in__card__form__form-group__input-border-color;
            background-color: $sign-in__card__form__form-group__input-bg;
            transition: 0.4s all;
            border-radius: 4px;
            box-sizing: border-box;
            &::placeholder {
                font-family: $font-family-primary;
                font-size: 14px;
                font-weight: normal;
                color: $sign-in__card__form__form-group__placeholder-color;
            }
            &:focus {
                outline: none;
                border: 1px solid $sign-in__card__form__form-group__input-border-color-focus;
                box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.05);
            }
            &:hover {
                background-color: $sign-in__card__form__form-group__input-border-color-hover;
        }
    }
}
.sign-in__card__form__submit-btn {
    font-size: .8125rem;
    font-weight: bold;
    color: $sign-in__card__form__submit-btn-color;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: $font-family-primary;
    cursor: pointer;
    border: 1px solid transparent;
    width: 8.75rem;
    height: 2.75rem;
    box-shadow: $sign-in__card__form__submit-btn-box-shadow;
    background-color: $sign-in__card__form__submit-btn-bg;
    background-image: $sign-in__card__form__submit-btn-bg-img;
    transition: .2s;
        &:hover {
            background-color: $sign-in__card__form__submit-btn-bg-hover;
    }
}
.sign-in__card__forgot-pass {
    background-color: $sign-in__card__forgot-pass-bg;
    width: 100%;
    height: 3.75rem;
    display: flex;
    border-radius: 0 0 4px 4px;
    justify-content: center;
    align-items: center;
        &__anchor {
            color: $sign-in__card__forgot-pass-color;
            font-family: $font-family-primary;
            font-weight: 200;
            font-size: .75rem;
            text-decoration: underline;
            text-underline-position: under;
            transition: 0.7s color;
                &:hover {
                    color: $sign-in__card__forgot-pass-color-hover;
        }
    }
}
.sign-in__copy-right {
    font-family: $font-family-primary;
    font-size: .75rem;
    font-weight: bold;
    color: $sign-in-footer__color;
    margin-bottom: 5.9625rem;
}
// ===============================================
// MEDIA QUERIES
// ===============================================
@media screen and (max-width: $md) {
    .sign-in {
        grid-template-columns: 300px;
        grid-template-rows: auto 350px auto;
        grid-row-gap: 2rem;
        padding: 1.5rem 1rem;
            &__logo{
                margin-top: 0;
            }
            &__card__form__form-group__input {
                width: 15rem;
            }
            &__copy-right {
                margin-bottom: 1rem;
        }
    }
}
@media screen and (max-width: $xs)  {
    .sign-in {
        grid-template-columns: 250px;
        padding: 1.5rem;
            &__logo__img {
                width: 75%;
            }
            &__card__headline {
                font-size: 2rem;
            }
            &__card__form__form-group__input {
                width: 12rem;
        }
    }
}
// ===============================================
