// ===============================================
// 	VARIABLES
// ===============================================
$font-family-primary: "Arial";
$font-family-secondary: 'GibsonLight';
$sign-in__card__bg-color: #ffffff;
$sign-in__card__box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
$sign-in__card__headline-color: #74b700;
$sign-in__card__form__form-group__input-border-color: #cdd2dc;
$sign-in__card__form__form-group__input-border-color-focus: #9cca0e;
$sign-in__card__form__form-group__input-border-color-hover: #f7f9fc;
$sign-in__card__form__form-group__input-bg: #ffffff;
$sign-in__card__form__form-group__title-color: #868f9b;
$sign-in__card__form__form-group__placeholder-color: #868f9b;
$sign-in__card__form__submit-btn-color: #ffffff;
$sign-in__card__form__submit-btn-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
$sign-in__card__form__submit-btn-bg: #9cca0e;
$sign-in__card__form__submit-btn-bg-img: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
$sign-in__card__form__submit-btn-bg-hover: #74b700;
$sign-in__card__forgot-pass-bg: #56596a;
$sign-in__card__forgot-pass-color: #9ea1b7;
$sign-in__card__forgot-pass-color-hover: #ffffff;
$sign-in-footer__color: rgba(158, 161, 183, 0.502);
// ===============================================
// BRAKE POINTS  
// ===============================================
$xs: 435px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1200px;
// ===============================================