body {
  background-image: url("../img/bg.png");
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 100%; }

.sign-in {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 380px;
  grid-template-columns: 380px;
  -ms-grid-rows: auto 370px auto;
  grid-template-rows: auto 370px auto;
  grid-row-gap: 2.375rem;
  justify-items: center; }
  .sign-in__logo {
    text-align: center;
    margin-top: .9375rem; }
  .sign-in__card {
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    justify-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .sign-in__card__headline {
      padding: 0;
      height: 6.4375rem;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #74b700;
      font-family: "GibsonLight";
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 2.5rem; }

.sign-in__card__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 12.5rem; }
  .sign-in__card__form__form-group {
    position: relative; }
    .sign-in__card__form__form-group:nth-child(1) .sign-in__card__form__form-group__input {
      margin-bottom: .625rem; }
    .sign-in__card__form__form-group:nth-child(2) .sign-in__card__form__form-group__input {
      margin-bottom: 1.25rem; }
  .sign-in__card__form__form-group__title {
    position: absolute;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #868f9b;
    height: 2.75rem;
    font-family: "Arial"; }
  .sign-in__card__form__form-group__input {
    cursor: pointer;
    width: 18.75rem;
    height: 2.75rem;
    padding-left: 6.5rem;
    border: 1px solid #cdd2dc;
    background-color: #ffffff;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .sign-in__card__form__form-group__input::-webkit-input-placeholder {
      font-family: "Arial";
      font-size: 14px;
      font-weight: normal;
      color: #868f9b; }
    .sign-in__card__form__form-group__input:-ms-input-placeholder {
      font-family: "Arial";
      font-size: 14px;
      font-weight: normal;
      color: #868f9b; }
    .sign-in__card__form__form-group__input::-ms-input-placeholder {
      font-family: "Arial";
      font-size: 14px;
      font-weight: normal;
      color: #868f9b; }
    .sign-in__card__form__form-group__input::placeholder {
      font-family: "Arial";
      font-size: 14px;
      font-weight: normal;
      color: #868f9b; }
    .sign-in__card__form__form-group__input:focus {
      outline: none;
      border: 1px solid #9cca0e;
      -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.05); }
    .sign-in__card__form__form-group__input:hover {
      background-color: #f7f9fc; }

.sign-in__card__form__submit-btn {
  font-size: .8125rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Arial";
  cursor: pointer;
  border: 1px solid transparent;
  width: 8.75rem;
  height: 2.75rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #9cca0e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(255, 255, 255, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .sign-in__card__form__submit-btn:hover {
    background-color: #74b700; }

.sign-in__card__forgot-pass {
  background-color: #56596a;
  width: 100%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 4px 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sign-in__card__forgot-pass__anchor {
    color: #9ea1b7;
    font-family: "Arial";
    font-weight: 200;
    font-size: .75rem;
    text-decoration: underline;
    text-underline-position: under;
    -webkit-transition: 0.7s color;
    -o-transition: 0.7s color;
    transition: 0.7s color; }
    .sign-in__card__forgot-pass__anchor:hover {
      color: #ffffff; }

.sign-in__copy-right {
  font-family: "Arial";
  font-size: .75rem;
  font-weight: bold;
  color: rgba(158, 161, 183, 0.502);
  margin-bottom: 5.9625rem; }

@media screen and (max-width: 767px) {
  .sign-in {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: auto 350px auto;
    grid-template-rows: auto 350px auto;
    grid-row-gap: 2rem;
    padding: 1.5rem 1rem; }
    .sign-in__logo {
      margin-top: 0; }
    .sign-in__card__form__form-group__input {
      width: 15rem; }
    .sign-in__copy-right {
      margin-bottom: 1rem; } }

@media screen and (max-width: 435px) {
  .sign-in {
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
    padding: 1.5rem; }
    .sign-in__logo__img {
      width: 75%; }
    .sign-in__card__headline {
      font-size: 2rem; }
    .sign-in__card__form__form-group__input {
      width: 12rem; } }

/*# sourceMappingURL=style.css.map */