/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */

@font-face {
    font-family: 'GibsonLight';
    src: url('Gibson-Light-webfont.eot');
    src: url('Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-Light-webfont.woff') format('woff'),
         url('Gibson-Light-webfont.ttf') format('truetype'),
         url('Gibson-Light-webfont.svg#GibsonLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


